<div>
  this is the creative view page - step 3
</div>

<div class="container">
  <h2> What rewards would you like to offer? </h2>

  <div class="rewards container-fluid">
    <div class="default-rewards">

      <div class="col-md-3">
        <div class="reward-price">
          <h3>$1</h3>
        </div>
        <div class="reward-header">
          <h4> this is the reward title </h4>
        </div>
        <div class="reward-description">
          <p>
            this is the reward description this is the reward description this
            is the reward description this is the reward description this is the
            reward description this is the reward description this is the reward
            description this is the reward description this is the reward
            description this is the reward description
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="reward-price">
          <h3>$2</h3>
        </div>
        <div class="reward-header">
          <h4> this is the reward title </h4>
        </div>
        <div class="reward-description">
          <p>
            this is the reward description this is the reward description this
            is
            the reward description this is the reward description this is the
            reward description this is the reward description this is the reward
            description this is the reward description this is the reward
            description this is the reward description
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="reward-price">
          <h3>$10</h3>
        </div>
        <div class="reward-header">
          <h4> this is the reward title </h4>
        </div>
        <div class="reward-description">
          <p>
            this is the reward description this is the reward description this
            is
            the reward description this is the reward description this is the
            reward description this is the reward description this is the reward
            description this is the reward description this is the reward
            description this is the reward description
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="reward-price">
          <h3>$15</h3>
        </div>
        <div class="reward-header">
          <h4> this is the reward title </h4>
        </div>
        <div class="reward-description">
          <p>
            this is the reward description this is the reward description this
            is
            the reward description this is the reward description this is the
            reward description this is the reward description this is the reward
            description this is the reward description this is the reward
            description this is the reward description
          </p>
        </div>

      </div>

    </div>
  </div>

</div>