<div class="container">
  <div class="row">
    <div class="sub-navigation vcenter">
      <!-- <p>navigation</p> -->
      <nav>
        <ul class="pagination">
          <li><a ui-sref=".creativeInfoView"> info </a></li>
          <li><a ui-sref=".creativeContentView"> content </a></li>
          <li><a ui-sref=".creativeRewardsView"> rewards </a></li>
          <li><a ng-click="submitSignup()" href="#"> submit </a></li>
        </ul>
      </nav>

    </div>
    <div ui-view=""></div>
  </div>
</div>
